.left-header {
  float: left;
}
.float-right {
  float: right;
  padding: 20px 0 0 0;
}
.header {
  background-color: lightgray;
  margin-top: 15px;
}

.left {
  background-color: green;
}

/*.panel-body {
  background-color: white;
}*/
